@import 'swiper/swiper-bundle.css';

:root {
  --swiper-navigation-color: #ffffff;
  --swiper-pagination-color: #ffffff;
}

/* General Document Styles */  
 .app {
  display: flex;
  justify-content: center;
  align-items: center;
 }

/* Carousel Styles */

.carousel-image {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.swiper-container {
  width: 600px;
  height: 400px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden; /* To ensure slides outside of view are hidden */
  position: relative;
}

/* Slide Styles */
.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #eee;
  border-radius: 8px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
}

/* Pagination Styles */
.swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  background: #ccc;
  opacity: 0.7;
  transition: opacity .3s;
  display: none ;
}

.swiper-pagination-bullet-active {
  opacity: 1;
  background: #007BFF; /* Change this to whatever active color you prefer */
}

/* Navigation Arrows */

.swiper-button-next, .swiper-button-prev {
  width: 30px; /* Adjust as necessary */
  height: 30px; /* Adjust as necessary */
  position: absolute;
  top: 50%; /* Center vertically */
  transform: translateY(-50%); /* Center vertically */
  color: #fff;
  z-index: 100;
}

.swiper-button-next {
  right: -15px; /* Adjust distance from the image edge */
}

.swiper-button-prev {
  left: -15px; /* Adjust distance from the image edge */
}

/* Thumbs Styles */
.thumbs-slider {
  height: 100px;
  box-sizing: border-box;
  padding: 10px 0;
}

.thumbs-slider .swiper-slide {
  width: auto;
  height: 80px;
  opacity: 0.4;
  transition: opacity 0.2s;
}

.thumbs-slider .swiper-slide-thumb-active,
.thumbs-slider .swiper-slide-active {
  opacity: 1; /* hide this for now */
}

.swiper-thumbs .swiper-slide iframe {
  max-width: 150px;
  pointer-events: none;
}
